<head>
  
  <meta charset="utf-8">
  <meta http-equiv="x-ua-compatible" content="ie=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  
  <!-- Title -->
  <title>{% if page.title != null %}{{ page.title }} | {{ site.title }}{% else %}{{ site.title }}{% endif %}</title>
  
  <!-- Og tag -->
  <meta property="og:url" content="{{ site.url }}">
  <meta property="og:type" content="{{ site.og_type }}">
  <meta property="og:image" content="{{ site.og_image }}">
  <meta property="og:title" content="{{ page.title | default: site.title }}">
  <meta property="og:description" content="{{ site.description }}">
  <meta property="og:site_name" content="{{ site.title }}">
  <meta property="og:locale" content="{{ site.og_locale }}">
  
  <!-- Style -->
  <link rel="icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
  <link rel="shortcut icon" type="image/x-icon" href="{{ '/assets/favicon/favicon.ico' | relative_url }}">
  <link rel="stylesheet" type="text/css" href="{{ '/assets/css/style.css' | relative_url }}">
  
  <!-- Library -->
  <script type="text/javascript" src="{{ '/assets/lib/jquery-3.7.1.slim.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/lib/pagination.js-2.6.0.js' | relative_url }}"></script>
  <!-- Script -->
  <script type="text/javascript" src="{{ '/assets/js/main.js' | relative_url }}"></script>
  <script type="text/javascript" src="{{ '/assets/js/pagination.js' | relative_url }}"></script>
  {% include google-analytics.html %}

</head>