/* _layoyts/page.html */
.article {
  padding: 0.4rem;
  > .container {
    margin-top: 1rem;
  }
}
.page-header {
  margin-top: 1.4rem;
  font-size: 1.8rem;
}
.page-content {
  margin-top: 1.4rem;
  font-size: 1.05rem;
  a {
    &:hover {
      text-decoration: underline;
    }
  }
}