/* _layoyts/default.html */
.body {
  background-color: #fbf9fa;
  color: #171516;
  display: flex;
  justify-content: center;
  margin: 6%;
  padding: 0;
  font-size: 1rem;
  overflow: auto;
  word-break: break-all;
}