/* _includes/footer.html */
.footer-line {
  margin-top: 1rem;
  margin-bottom: 1rem;
  border: 1px solid #e9e7e8;
}
.footer {
  > .container {
    margin-bottom: 1rem;
  }
}
.footer-item {
  color: #6c6a6b;
  display: flex;
  justify-content: center;
  text-align: center;
  font-size: 0.75rem;
  ul {
    columns: 1;
  }
}
.footer-link {
  color: #6c6a6b;
  &:hover {
    text-decoration: underline;
  }
}
@media (min-width: 960px) {
  .footer-item {
    ul {
      columns: 3;
    }
  }
}