/* _includes/nav.html */
.header {
  margin: 0.5rem;
  text-align: center;
  .nav-brand {
    color: #171516;
    font-size: 2.3rem;
  }
}
.nav {
  color: #171516;
  display: flex;
  border-top: 1px solid #2a2829;
  border-bottom: 1px solid #2a2829;
  padding: 0.2rem;
  a {
    color: #171516;
  }
}
.nav-toggle {
  background-color: transparent;
  color: #171516;
  display: flex;
  justify-content: center;
  font-size: 1.7rem;
  a {
    cursor: pointer;
  }
}
.nav-collapse {
  display: none;
  justify-content: center;
}
.show {
  display: flex;
} /* nav-toggle show event */
.navbar {
  display: flex;
  flex-direction: column;
  margin: 0.35rem;
  li {
    text-align: center;
  }
}
.navbar-link {
  font-size: 1.35rem;
}
@media (min-width: 960px) {
  .nav-toggle {
    display: none;
  }
  .nav-collapse {
    display: flex;
  }
  .navbar {
    flex-direction: row;
    flex-wrap: wrap;
    margin: 0.75rem;
  }
  .navbar-link {
    margin: 0.35rem;
  }
}